@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Seatdistribution', 'seats'],
	          ['SPD',     11],
	          ['Die Grünen',      2],
	          ['CDU',  2],
	          ['CSU TV', 2],
	          ['Meine Partei :-)',    22]
	        ]);
	
	        var options = {
	          title: 'My Daily Activities'
	        };
	
	        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
	    </script>
        
    </head>
    <body>
    	<div id="maincontainer">
			<div id="header">
				Wahlinformationssystem der Bundestagswahl 2009
			</div>
			<div id="menu">
				<a href="#">Überblick</a>
				<a href="/sitzverteilung">Sitzverteilung</a>
				<a href="#">Überhangmandate</a>
				<a href="#">Wahlbeteiligung</a>
			</div>
			<div id="inframe">
				<div id="submenu">
					<a href="/deutschland">Deutschland</a>
					<a href="#">Bundesländer</a>
					<a href="#">Wahlkreise</a>
				</div>
				<div id="content">
	        		@content
	        	</div>
			</div>
			<br style="clear: both" />
			<div id="footer">
				Alle Angaben ohne Gewähr.
			</div>
		</div>
    </body>
</html>
