@(title: String, seataggregates: List[model.SeatAggregate])

@scripts = {
    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Seatdistribution', 'seats'],
				@for(seat <- seataggregates) {
					['@seat.getParty(), @seat.getSeats()', @seat.getSeats()] @if(seat != seataggregates.last) {,}
				}
				
	        ]);
	
	        var options = {
                colors: [@for(seat <- seataggregates) {'@seat.getColor()' @if(seat != seataggregates.last) {,}}],
                pieSliceText: 'label',
                legend: {position: 'none'},
                height: '600',
                width: '600',
                tooltip: {trigger: 'none'},
                pieSliceTextStyle: {color: 'white'}
	        };
	
	        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
	    </script>	   
	    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
	    <script type='text/javascript'>
		      google.load('visualization', '1', {packages:['table']});
		      google.setOnLoadCallback(drawTable);
		      function drawTable() {
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Partei');
		        data.addColumn('number', 'Sitze');
		        data.addRows([
			        @for(seat <- seataggregates) {
						['@seat.getParty()', @seat.getSeats()] @if(seat != seataggregates.last) {,}
					}
		        ]);
		
		        var table = new google.visualization.Table(document.getElementById('table_div'));
		        table.draw(data, {showRowNumber: false});
		      }
	      </script>
	    
}

@main(title, scripts){
	<center>
		<div id="chart_div" style="width: 600px; height: 400px;"></div>
		<div id="table_div" style="width: 200px;"></div>
	</center>
}
