@(title: String, bundestagmembers: List[model.BundestagMember])

@scripts = {
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
	    <script type='text/javascript'>
		      google.load('visualization', '1', {packages:['table']});
		      google.setOnLoadCallback(drawTable);
		      function drawTable() {
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Bundesland');
		        data.addColumn('string', 'Partei');
		        data.addColumn('string', 'Vorname');
		        data.addColumn('string', 'Nachname');
		        data.addColumn('string', 'Wahlkreis');
		        data.addColumn('string', 'Listenplatz');
		        data.addRows([
			        @for(member <- bundestagmembers) {
						['@Html(member.getState())', '@member.getParty()', '@Html(member.getFirstname())', '@Html(member.getSurname())', '@member.getConstituency()', '@member.getPlacement()'] @if(member != bundestagmembers.last) {,}
					}
		        ]);
		
		        var table = new google.visualization.Table(document.getElementById('table_div'));
		        table.draw(data, {showRowNumber: false});
		      }
	      </script>
		   
	    
}

@main(title, scripts){
	<center>
		<div id="table_div" style="width: 800px;"></div>
	</center>
}
