@(title: String, ballotEntries: List[model.BallotEntry])

@main(title){
<center>
	<div>
		<img id="img-header" src='@routes.Assets.at("images/ballot_header.png")' />
		<form action="" method="POST">
			<table id="ballot-table">
				<tr>
					<th id="header-left" colspan="3">Erststimme</th>
					<td></td>
					<th id="header-right" colspan="3">Zweitstimme</th>
				</tr>
				@for(ballotEntry <- ballotEntries) {
				<tr>

					<td class="left"><b>@ballotEntry.getCandidateName()</b></td>
					<td class="blackbottomborder" id="italic">@ballotEntry.getCandidateParty()</td>
					<td class="blackbottomborder">
						@if(ballotEntry.getCandidateId() >= 0) {
							<input type="radio" name="candidate" value="@ballotEntry.getCandidateId()">
						}
					</td>
					<td class="seperator"></td>
					<td class="bluebottomborder">
						@if(ballotEntry.getPartyId() >= 0) {
							<input type="radio" name="party" value="@ballotEntry.getPartyId()"></td>
						}
					<td class="bluecol"><b>@ballotEntry.getPartyShortName()</b></td>
					<td id="italic" class="right">@ballotEntry.getListCandidateNames()</td>
				</tr>
				}
				<tr>
					<td id="no-candidate" class="left" colspan="2"><b>Keinen Kandidaten wählen</b></td>
					<td id="no-candidate" class="blackbottomborder"><input type="radio" name="candidate" value="-1" checked></td>
					<td class="seperator"></td>
					<td id="no-party" class="bluebottomborder"><input type="radio" name="party" value="-1" checked></td>
					<td id="no-party" class="right"  colspan="2"><b>Keine Partei wählen</b></td>
				</tr>
			</table>
			<input type="submit" value="Absenden" class="submitbutton">
		</form>
	</div>
</center>
}