@(title: String, scripts: Html = Html(""), submenu: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
		    $(function() {
				var menu = {
					"ueberblick":     "ueberblick",
					"sitzverteilung": "sitzverteilung",
					"wahlkreissieger": "wahlkreissieger",
					"ueberhangmandate": "ueberhangmandate",
					"bundestagsmitglieder": "bundestagsmitglieder",
					"deutschland": "deutschland",
					"bundesland": "bundesland",
					"wahlkreis": "wahlkreis"
				};
			
				$.each(menu, function(key, value) {
					if(window.location.href.indexOf(value) > -1)
						$("#"+key).addClass("active");
				});
			});
	   </script>
        @scripts
                
    </head>
    <body>
    	<div id="maincontainer">
			<div id="header">
				Wahlinformationssystem der Bundestagswahl 2009
			</div>
			<div id="menu">
				<a href="/ueberblick?sicht=deutschland" id="ueberblick">Überblick</a>
				<a href="/sitzverteilung" id="sitzverteilung">Sitzverteilung</a>
				<a href="/wahlkreissieger" id="wahlkreissieger">Wahlkreissieger</a>
				<a href="/ueberhangmandate" id="ueberhangmandate">Überhangmandate</a>
				<a href="/bundestagsmitglieder" id="bundestagsmitglieder">Bundestagsmitglieder</a>
			</div>
			<div id="inframe">
				@submenu
				<div id="content">
	        		@content
	        	</div>
			</div>
			<br style="clear: both" />
			<div id="footer">
				Alle Angaben ohne Gewähr.
			</div>
		</div>
    </body>
</html>
