body {
	font-family: "Calibri";
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}

div#maincontainer {
	margin: auto;
	width: 1098px;
	background-color: #E3E3E3;
}

div#header {
	font-size: 20pt;
	color: #4682B4;
	background-color: #E3E3E3;
	padding-top: 20px;
	padding-left: 20px;
	height: 50px;
}

div#headline {
	font-size: 20pt;
	color: #4682B4;
	text-align: center;
	text-decoration: bold;
	padding-top: 20px;
}

div#menu{
	float:left;
	width:250px;
}

div#menu a {
	display: block;
	font-size: 13pt;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E3E3E3;
}

div#menu a:hover, div#menu a:active, div#menu a.active {
	background-color: #4682B4;
	color: #FFFFFF;
}

div#submenu a {
	font-size: 13pt;
	float:left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:411px;
	text-align: center;
	display: block;
}

div#submenu a:hover, div#submenu a:active, div#submenu a.active {
	color: #4682B4;
	background-color: #F5F5F5; 
}

div#inframe {
	width:843px;
	float:left;
	background-color: #FFFFFF;
}

div#content {
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
}

div#footer {
	text-align: right;
}

#img-header {
	width: 800px;
	left: 0px;
	margin-bottom: 20px;
}

#ballot-table
{
	width: 810px;
	vertical-align: top;
	border-collapse: collapse;
}

#ballot-table th
{
	font-size: 20pt;
	font-weight: bold;
	padding: 8px;

}
#ballot-table td
{
	padding: 8px;
	
}

#ballot-table td.left {
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#ballot-table td.seperator {
	border-right: 1px solid #009ee0;
	border-left: 1px solid #000000;
}

#ballot-table td.right {
	border-right: 1px solid #009ee0;
	border-bottom: 1px solid #009ee0;
	color: #009ee0;
}

#ballot-table td.bluecol {
	color: #009ee0;
	border-bottom: 1px solid #009ee0;
}

#ballot-table td.blackbottomborder {
	border-bottom: 1px solid #000000;
}
#ballot-table td.bluebottomborder {
	border-bottom: 1px solid #009ee0;
}

#header-left {
	width: 50%;
	border-bottom: 1px solid #000000;
	text-align: right;
}

#header-right {
	width: 50%;
	border-bottom: 1px solid #009ee0;
	text-align: left;
	color: #009ee0;
}

#no-candidate {
	background-color: #E3E3E3;
}

#no-party {
	background-color: #c6ebfb;
}

#italic {
	font-style: italic;
}
 
.submitbutton {
	margin-top: 60px;
	margin-bottom: 40px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
	border:3px solid #777777;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:23px;
	font-weight:bold;
	padding:10px 55px;
	text-decoration:none;
}

.submitbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
}

.submitbutton:active {
	position:relative;
	top:1px;
}